$md-width: 704px;
$sm-width: 520px;

$c-header: rgb(230, 230, 230);
$c-header-bg: rgb(59, 59, 59);

$c-active: #fff;
$c-active-bg: rgb(48, 48, 48);

$c-success: rgb(0, 103, 10);
$c-error: rgb(103, 0 ,10);